{% extends 'base.html.twig' %}

{% block body %}


<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
<a href="index.html.twig" class="btn btn-secondary" >Wróć</a>
<br><br>
<h1>Sprzęt</h1>
<br>


<!-- DANE-->
<a class="btn btn-dark" data-toggle="collapse" href="#lista"  aria-controls="lista">
    Pokaż listę sprzętów
</a>
<a href="{{ path('saleinvoice_new') }}" class="btn btn-dark">
    Dodaj sprzęt
</a>



<div class="collapse" id="lista">
    <div class="card card-body">
        <table class="table">
            <thead>
            <th class="table-active"><h6><strong>ID</strong></h6></th>
            <th class="table-active"><h6><strong>Nazwa</strong></h6></th>
            <th class="table-active"><h6><strong>Numer</strong></h6></th>
            <th class="table-active"><h6><strong>Data kupna</strong></h6></th>
            <th class="table-active"><h6><strong>Kwota netto</strong></h6></th>
            <th class="table-active"><h6><strong>Opis</strong></h6></th>
            <th class="table-active"></th>

            </tr>
        {% for equimpment in equimpment %}
            <tr>
                <td><a href="{{ path('equimpment_show', { 'id': equimpment.id }) }}">{{ equimpment.id }}</a></td>
                <td>{{ equimpment.name }}</td>
                <td>{{ equimpment.number }}</td>
                <td>{% if equimpment.warranty %}{{ equimpment.warranty|date('Y-m-d') }}{% endif %}</td>
                <td>{{ equimpment.amountnetto }}</td>
                <td>{{ equimpment.comments }}</td>
                <td><a href="{{ path('equimpment_show', { 'id': equimpment.id }) }}" class="btn btn-outline-dark">Szczegóły</a></td>
            </tr>
        {% endfor %}
            </thead>
        </tbody>
    </table>
    </div>
</div>

    <div>
        <h1>Wyszukiwarka</h1><br>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Wyszukaj" class="btn btn-outline-dark"/>
        {{ form_end(form) }}
    </div>

{% endblock %}