{% extends 'base.html.twig' %}

{% block body %}
    <h1>Szczegóły</h1>

    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
    <a href="{{ path('equimpment_index') }}" class="btn btn-outline-dark">Wróć</a>
    <br><br>



    <table>
    <tbody>


        <table class="table">
            <thead>
                <th class="table-active"><h6><strong>ID</strong></h6></th>
                <th class="table-active"><h6><strong>Nazwa</strong></h6></th>
                <th class="table-active"><h6><strong>Numer</strong></h6></th>
                <th class="table-active"><h6><strong>Data kupna</strong></h6></th>
                <th class="table-active"><h6><strong>Klucz seryjny</strong></h6></th>
                <th class="table-active"><h6><strong>Data ważności</strong></h6></th>
                <th class="table-active"><h6><strong>Kwota netto</strong></h6></th>
                <th class="table-active"><h6><strong>Właściciel</strong></h6></th>
                <th class="table-active"><h6><strong>Opis</strong></h6></th>
                <th class="table-active"></th>
                <th class="table-active"></th>
                </tr>


                    <tr>
                        <td><a href="{{ path('equimpment_show', { 'id': equimpment.id }) }}">{{ equimpment.id }}</a></td>
                        <td>{{ equimpment.name }}</td>
                        <td>{{ equimpment.number }}</td>
                        <td>{% if equimpment.datepurchase %}{{ equimpment.datepurchase|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ equimpment.serialnumber }}</td>
                        <td>{% if equimpment.warranty %}{{ equimpment.warranty|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ equimpment.amountnetto }}</td>
                        <td>{{ equimpment.who }}</td>
                        <td>{{ equimpment.comments }}</td>
                        <td><a href="{{ path('equimpment_edit', { 'id': equimpment.id }) }}" class="btn btn-outline-dark">Edytuj</a></td>
                        <td>            {{ form_start(delete_form) }}
                            <input type="submit" value="Usuń" class="btn btn-outline-dark">
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>


                </thead>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}