{% extends 'base.html.twig' %}

{% block body %}


    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>

    <br><br>
    <h1>Dokumenty</h1>
    <br>


    <!-- DANE-->
    <a class="btn btn-dark" data-toggle="collapse" href="#lista"  aria-controls="lista">
        Pokaż listę dokumentów
    </a>
    <a href="{{ path('document_new') }}" class="btn btn-dark">
        Dodaj dokument
    </a>



    <div class="collapse" id="lista">
        <div class="card card-body">
            <table class="table">
                <thead>
                <th class="table-active"><h6><strong>ID</strong></h6></th>
                <th class="table-active"><h6><strong>Data</strong></h6></th>
                <th class="table-active"><h6><strong>Strony</strong></h6></th>
                <th class="table-active"><h6><strong>Opis</strong></h6></th>

                <th class="table-active"></th>

                </tr>
                {% for document in document %}
                    <tr>
                        <td>{{ document.Id }}</td>
                        <td>{% if document.date %}{{ document.date|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ document.page }}</td>
                        <td>{{ document.descripton }}</td>
                        <td><a href="{{ path('document_show', { 'id': document.id }) }}" class="btn btn-outline-dark">Szczegóły</a></td>
                    </tr>
                {% endfor %}

                </thead>
            </table>

        </div>
    </div>


    </div>
    <div>
        <h1>Wyszukiwarka</h1><br>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Wyszukaj" class="btn btn-outline-dark"/>
        {{ form_end(form) }}
    </div>


    <div>
        <h1>Filtrowanie</h1><br>
        {{ form_start(formfilter) }}
        {{ form_widget(formfilter) }}
        <input type="submit" value="Filtruj" class="btn btn-outline-dark"/>
        {{ form_end(formfilter) }}
    </div>
    </tbody>
    </tbody>




{% endblock %}
