{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attedances list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Hourentry</th>
                <th>Hourexit</th>
                <th>Worktime</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attedance in attedances %}
            <tr>
                <td><a href="{{ path('attedance_show', { 'id': attedance.id }) }}">{{ attedance.id }}</a></td>
                <td>{% if attedance.data %}{{ attedance.data|date('Y-m-d') }}{% endif %}</td>
                <td>{% if attedance.hourentry %}{{ attedance.hourentry|date('H:i:s') }}{% endif %}</td>
                <td>{% if attedance.hourexit %}{{ attedance.hourexit|date('H:i:s') }}{% endif %}</td>
                <td>{{ attedance.worktime }}</td>
                <td>{{ attedance.comments }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('attedance_show', { 'id': attedance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('attedance_edit', { 'id': attedance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attedance_new') }}">Create a new attedance</a>
        </li>
    </ul>
{% endblock %}
