{% extends 'base.html.twig' %}

{% block body %}


<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>

<br><br>
<h1>Lista obecności</h1>
<br>


<!-- DANE-->
<a class="btn btn-dark" data-toggle="collapse" href="#lista"  aria-controls="lista">
    Pokaż listę obecności
</a>
<a href="{{ path('attedance_new') }}" class="btn btn-dark">
    Dodaj obecność
</a>



<div class="collapse" id="lista">
    <div class="card card-body">
        <table class="table">
            <thead>
            <th class="table-active"><h6><strong>ID</strong></h6></th>
            <th class="table-active"><h6><strong>Data</strong></h6></th>
            <th class="table-active"><h6><strong>Godzina wejścia</strong></h6></th>
            <th class="table-active"><h6><strong>Godzina wyjścia</strong></h6></th>
            <th class="table-active"><h6><strong>Czas pracy</strong></h6></th>
            <th class="table-active"><h6><strong>Opis</strong></h6></th>
            <th class="table-active"></th>
            </tr>
        </thead>
        <tbody>
        {% for attedance in attedances %}
            <tr>
                <td><a href="{{ path('attedance_show', { 'id': attedance.id }) }}">{{ attedance.id }}</a></td>
                <td>{% if attedance.data %}{{ attedance.data|date('Y-m-d') }}{% endif %}</td>
                <td>{% if attedance.hourentry %}{{ attedance.hourentry|date('H:i:s') }}{% endif %}</td>
                <td>{% if attedance.hourexit %}{{ attedance.hourexit|date('H:i:s') }}{% endif %}</td>
                <td>{{ attedance.worktime }}</td>
                <td>{{ attedance.comments }}</td>
                <td><a href="{{ path('attedance_show', { 'id': attedance.id }) }}" class="btn btn-outline-dark">Szczegóły</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
