{% extends 'base.html.twig' %}

{% block body %}
<h1>Szczegóły</h1>

<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
<a href="{{ path('attedance_index') }}" class="btn btn-outline-dark">Wróć</a>

<table>
    <tbody>
    <div class="collapse" id="lista">
        <div class="card card-body">
            <table class="table">
                <thead>
                <th class="table-active"><h6><strong>ID</strong></h6></th>
                <th class="table-active"><h6><strong>Data</strong></h6></th>
                <th class="table-active"><h6><strong>Godzina wejścia</strong></h6></th>
                <th class="table-active"><h6><strong>Godzina wyjścia</strong></h6></th>
                <th class="table-active"><h6><strong>Czas pracy</strong></h6></th>
                <th class="table-active"><h6><strong>Opis</strong></h6></th>
                <th class="table-active"></th>
                <th class="table-active"></th>
                </thead>
                <tr>
                    <td><a href="{{ path('attedance_show', { 'id': attedance.id }) }}">{{ attedance.id }}</a></td>
                    <td>{% if attedance.data %}{{ attedance.data|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if attedance.hourentry %}{{ attedance.hourentry|date('H:i:s') }}{% endif %}</td>
                    <td>{% if attedance.hourexit %}{{ attedance.hourexit|date('H:i:s') }}{% endif %}</td>
                    <td>{{ attedance.worktime }}</td>
                    <td>{{ attedance.comments }}</td>
                    <td><a href="{{ path('attedance_edit', { 'id': attedance.id }) }}" class="btn btn-outline-dark">Edytuj</a></td>
                    <td>            {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-outline-dark" value="Delete">
                        {{ form_end(delete_form) }}</td>
                </tr>

{% endblock %}
