{% extends 'base.html.twig' %}

{% block body %}
<h1>Szczegóły</h1>

<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
<a href="{{ path('contractor_index') }}" class="btn btn-outline-dark">Wróć</a>

<table>
    <tbody>
    <div class="collapse" id="lista">
        <div class="card card-body">
            <table class="table">
                <thead>
                <th class="table-active"><h6><strong>ID</strong></h6></th>
                <th class="table-active"><h6><strong>Nazwa</strong></h6></th>
                <th class="table-active"></th>
                <th class="table-active"></th>

            </tr>
                </thead>

            <tr>
                <td>{{ contractor.id }}</td>
                <td>{{ contractor.name }}</td>
                <td><a href="{{ path('contractor_edit', { 'id': contractor.id }) }}" class="btn btn-outline-dark">Edytuj</a></td>
                <td>            {{ form_start(delete_form) }}
                    <input type="submit" class="btn btn-outline-dark" value="Delete">
                    {{ form_end(delete_form) }}</td>
            </tr>

            </table>
        </div>
    </div>
    </tbody>
</table>
{% endblock %}