{% extends 'base.html.twig' %}

{% block body %}


    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>

    <br><br>
    <h1>Licencje</h1>
    <br>


    <!-- DANE-->
    <a class="btn btn-dark" data-toggle="collapse" href="#lista"  aria-controls="lista">
        Pokaż listę licencji
    </a>
    <a href="{{ path('saleinvoice_new') }}" class="btn btn-dark">
        Dodaj licencje
    </a>



    <div class="collapse" id="lista">
        <div class="card card-body">
            <table class="table">
                <thead>
                <th class="table-active"><h6><strong>ID</strong></h6></th>
                <th class="table-active"><h6><strong>Numer inwentarzowy</strong></h6></th>
                <th class="table-active"><h6><strong>Nazwa</strong></h6></th>
                <th class="table-active"><h6><strong>Klucz seryjny</strong></h6></th>
                <th class="table-active"><h6><strong>Data zakupu</strong></h6></th>
                <th class="table-active"><h6><strong>Wsparcie techniczne ważne do</strong></h6></th>
                <th class="table-active"><h6><strong>Licencja ważna do</strong></h6></th>
                <th class="table-active"><h6><strong>Stan</strong></h6></th>
                <th class="table-active"><h6><strong>Opis</strong></h6></th>
                <th class="table-active"></th>
            </tr>
        </thead>
        <tbody>
        {% for license in licenses %}
            <tr>
                <td><a href="{{ path('license_show', { 'id': license.id }) }}">{{ license.id }}</a></td>
                <td>{{ license.number }}</td>
                <td>{{ license.name }}</td>
                <td>{{ license.serialkey }}</td>
                <td>{% if license.datepurchase %}{{ license.datepurchase|date('Y-m-d') }}{% endif %}</td>
                <td>{% if license.datesupport %}{{ license.datesupport|date('Y-m-d') }}{% endif %}</td>
                <td>{% if license.validity %}{{ license.validity|date('Y-m-d') }}{% endif %}</td>
                <td>{{ license.technicalcondition }}</td>
                <td>{{ license.comments }}</td>
                <td><a href="{{ path('license_show', { 'id': license.id }) }}" class="btn btn-outline-dark">Szczegóły</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>

    <div>
        <h1>Wyszukiwarka</h1><br>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Wyszukaj" class="btn btn-outline-dark"/>
        {{ form_end(form) }}
    </div>


    <div>
        <h1>Filtrowanie</h1><br>
        {{ form_start(formfilter) }}
        {{ form_widget(formfilter) }}
        <input type="submit" value="Filtruj" class="btn btn-outline-dark"/>
        {{ form_end(formfilter) }}
    </div>

    </tbody>


{% endblock %}
