{% extends 'base.html.twig' %}

{% block body %}



    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
    <a href="index.html.twig" class="btn btn-secondary" >Wróć</a>
    <br><br>
    <h1>Faktury zakupu</h1>
    <br>


    <!-- DANE-->
    <a class="btn btn-dark" data-toggle="collapse" href="#lista"  aria-controls="lista">
        Pokaż listę faktur
    </a>
    <a href="{{ path('purchaseinvoice_new') }}" class="btn btn-dark">
        Dodaj fakturę
    </a>
<div class="collapse" id="lista">
    <div class="card card-body">
        <table class="table">
            <thead>
            <th class="table-active"><h6><strong>Numer faktury</strong></h6></th>
            <th class="table-active"><h6><strong>Kontrahent</strong></h6></th>
            <th class="table-active"><h6><strong>Data</strong></h6></th>

            <th class="table-active"><h6><strong>Kwota netto</strong></h6></th>

            <th class="table-active"><h6><strong>Waluta</strong></h6></th>
            <th class="table-active"><h6><strong>Kwota brutto</strong></h6></th>
            <th class="table-active"></th>

            </tr>
            {% for purchaseInvoice in purchaseInvoices %}
                <tr>
                    <td>{{ purchaseInvoice.number }}</td>
                    <td>{{ purchaseInvoice.contractorId }}</td>
                    <td>{% if purchaseInvoice.data %}{{ purchaseInvoice.data|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ purchaseInvoice.amountNetto }}</td>
                    <td>{{ purchaseInvoice.currency }}</td>
                    <td>{{ purchaseInvoice.amountBrutto }}</td>
                    <td><a href="{{ path('purchaseinvoice_show', { 'id': purchaseInvoice.id }) }}" class="btn btn-outline-dark">Szczegóły</a></td>
                </tr>
            {% endfor %}

            </thead>
        </table>

    </div>
</div>


    </div>
<br><br>

    <div>
        <h1>Wyszukiwarka</h1><br>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Wyszukaj" class="btn btn-outline-dark"/>
        {{ form_end(form) }}
    </div>


    <div>
        <h1>Filtrowanie</h1><br>
        {{ form_start(formfilter) }}
        {{ form_widget(formfilter) }}
        <input type="submit" value="Filtruj" class="btn btn-outline-dark"/>
        {{ form_end(formfilter) }}
    </div>

    </tbody>


{% endblock %}
