{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edycja</h1>

    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
    <a href="{{ path('saleinvoice_index') }}" class="btn btn-outline-dark">Wróć</a>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}


{% endblock %}
