{% extends 'base.html.twig' %}

{% block body %}


    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
    <br><br>
    <h1>Faktury sprzedaży</h1>
    <br>


    <!-- DANE-->
    <a class="btn btn-dark" data-toggle="collapse" href="#lista"  aria-controls="lista">
        Pokaż listę faktur
    </a>
    <a href="{{ path('saleinvoice_new') }}" class="btn btn-dark">
        Dodaj fakturę
    </a>



        <div class="collapse" id="lista">
            <div class="card card-body">
                <table class="table">
                    <thead>
                        <th class="table-active"><h6><strong>Numer faktury</strong></h6></th>
                        <th class="table-active"><h6><strong>Kontrahent</strong></h6></th>
                        <th class="table-active"><h6><strong>Data</strong></h6></th>

                        <th class="table-active"><h6><strong>Kwota netto</strong></h6></th>

                        <th class="table-active"><h6><strong>Waluta</strong></h6></th>
                        <th class="table-active"><h6><strong>Kwota brutto</strong></h6></th>
                        <th class="table-active"></th>

                    </tr>
                        {% for saleInvoice in saleInvoices %}
                    <tr>
                        <td>{{ saleInvoice.number }}</td>
                         <td>{{ saleInvoice.contractorId }}</td>
                        <td>{% if saleInvoice.data %}{{ saleInvoice.data|date('Y-m-d') }}{% endif %}</td>
                         <td>{{ saleInvoice.amountNetto }}</td>
                          <td>{{ saleInvoice.currency }}</td>
                         <td>{{ saleInvoice.amountBrutto }}</td>
                        <td><a href="{{ path('saleinvoice_show', { 'id': saleInvoice.id }) }}" class="btn btn-outline-dark">Szczegóły</a></td>
                    </tr>
                        {% endfor %}

                    </thead>
                </table>

            </div>
        </div>


    </div>
    <div>
        <h1>Wyszukiwarka</h1><br>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Wyszukaj" class="btn btn-outline-dark"/>
        {{ form_end(form) }}
    </div>


    <div>
        <h1>Filtrowanie</h1><br>
        {{ form_start(formfilter) }}
        {{ form_widget(formfilter) }}
        <input type="submit" value="Filtruj" class="btn btn-outline-dark"/>
        {{ form_end(formfilter) }}
    </div>
    </tbody>




{% endblock %}
