{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saleinvoice</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saleInvoice.id }}</td>
            </tr>
            <tr>
                <th>Contractorid</th>
                <td>{{ saleInvoice.contractorId }}</td>
            </tr>
            <tr>
                <th>Taxid</th>
                <td>{{ saleInvoice.taxId }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ saleInvoice.number }}</td>
            </tr>
            <tr>
                <th>Amountnetto</th>
                <td>{{ saleInvoice.amountNetto }}</td>
            </tr>
            <tr>
                <th>Amountnettocurrency</th>
                <td>{{ saleInvoice.amountNettoCurrency }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ saleInvoice.currency }}</td>
            </tr>
            <tr>
                <th>Amountbrutto</th>
                <td>{{ saleInvoice.amountBrutto }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if saleInvoice.data %}{{ saleInvoice.data|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('saleinvoice_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('saleinvoice_edit', { 'id': saleInvoice.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
