<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}M&M!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous">
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/simple-sidebar.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="wrapper">


    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    M&M
                </a>
            </li>
            <li>
                <a href="{{ path('saleinvoice_index') }}">Faktury Sprzedaży</a>
            </li>
            <li>
                <a href="{{ path('purchaseinvoice_index') }}">Faktury kupna</a>
            </li>
            <li>
                <a href="{{ path('contractor_index') }}">Kontrahenci</a>
            </li>
            <li>
                <a href="{{ path('document_index') }}">Dokumenty</a>
            </li>
            <li>
                <a href="{{ path('equimpment_index') }}">Sprzęt</a>
            </li>
            <li>
                <a href="{{ path('license_index') }}">Licencje</a>
            </li>
            <li>
                <a href="{{ path('attedance_index') }}">Lista obecności</a>
            </li>
        </ul>
    </div>
    <p>
        <a type="buton" class="btn btn-light" href="{{ path('fos_user_security_logout') }}">
            {{ 'Wyloguj się'|trans({}, 'FOSUserBundle') }}
        </a>
    </p>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
    </div>


</div>

<script src="{{ asset('bundles/jquery/jquery.js') }}"></script>
<script src="{{ asset('bundles/bootstrap/js/bootstrap.bundle.js') }}"></script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>
